<div class="panel panel-info">
  <div class="panel-heading clearfix">
    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Sednice</h4>
    <div class="btn-group pull-right">
      <a ui-sref="create-sednica" class="btn btn-success" ng-hide = "vm.notPredsednik">Nova sednica</a>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Naziv sednice</th>
      <th>Datum održavanja</th>
      <th>Vreme održavanja</th>
      <th>Mesto održavanja</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="sednica in vm.sednice">
      <td>{{$index+1}}</td>
      <td><a ui-sref="sednica-page({id: sednica.id})">{{sednica.naziv}}</a></td>
      <td>{{sednica.datum | date : 'dd-MM-yyyy'}}</td>
      <td>{{sednica.datum | date : 'HH:mm'}}</td>
      <td>{{sednica.mesto}}</td>
    </tr>
    </tbody>
  </table>
</div>
