<div class="container">
  <div class="content">
    <h2>Vođenje sednice</h2>
    <div class="row">
      <div class="col-sm-3">
        <table class="table" style="margin-top: 40px;">
          <tr>
            <td>Naziv: </td>
            <td>{{vm.sednica.naziv}}</td>
          </tr>
          <tr>
            <td>Mesto: </td>
            <td>{{vm.sednica.mesto}}</td>
          </tr>
          <tr>
            <td>Datum: </td>
            <td>{{vm.sednica.datum | date : 'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <td>Vreme: </td>
            <td>{{vm.sednica.datum | date : 'HH:mm'}}</td>
          </tr>
        </table>
      </div>
      <div class="col-sm-5">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Naziv akta</th>
              <th>&nbsp;</th>
              <th>Stavi u red</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="akt in vm.defaultAkts" ng-click="vm.setSelectedAkt(akt.id)" ng-class="{selected : akt.id === vm.idSelectedAkt}">
              <td>{{$index+1}}</td>
              <td><a href ng-click="vm.getDetails('akti', akt.id)">{{akt.name}}</a></td>
              <td><a href ng-click="vm.getPdf('akti', akt.id)" class="fa fa-file-pdf-o"></a></td>
              <td>
                <button type="button" class="btn btn-info" ng-click="vm.putInVotingRow(akt, $index)" ng-disabled="vm.votingDocuments.length > 0 || vm.votingDocument !== null">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-4">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Naziv amandmana</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="amandman in vm.defaultAmandmans" ng-class="{selected : amandman.selected === true}">
              <td>{{$index+1}}</td>
              <td><a href ng-click="vm.getDetails('amandmani', amandman.id)">{{amandman.naziv}}</a></td>
              <td><a href ng-click="vm.getPdf('amandmani', amandman.id)" class="fa fa-file-pdf-o"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" ng-if="vm.votingDocuments.length > 0 || vm.votingDocument !== null">
      <div class="col-sm-7">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Naziv</th>
              <th>&nbsp;</th>
              <th>Tip</th>
              <th>Glasanje</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dokument in vm.votingDocuments">
              <td>{{$index+1}}</td>
              <td ng-if="dokument.type === 'akt'"><a href ng-click="vm.getDetails('akti', dokument.id)">{{dokument.name}}</a></td>
              <td ng-if="dokument.type === 'akt'"><a href ng-click="vm.getPdf('akti', dokument.id)" class="fa fa-file-pdf-o"></a></td>
              <td ng-if="dokument.type === 'am'"><a href ng-click="vm.getDetails('amandmani', dokument.id)">{{dokument.naziv}}</a></td>
              <td ng-if="dokument.type === 'am'"><a href ng-click="vm.getPdf('amandmani', dokument.id)" class="fa fa-file-pdf-o"></a></td>
              <td>{{dokument.type}}</td>
              <td>
                <button type="button" class="btn btn-info" ng-click="vm.putToVote(dokument, $index)" ng-disabled="vm.votedAkt(dokument.aktId) == false && dokument.type === 'am' || vm.votingDocument !== null">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-5">
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th>Naziv</th>
                <th>&nbsp;</th>
                <th>Tip</th>
              </tr>
            </thead>
            <tbody ng-if="vm.votingDocument !== null">
              <tr>
                <td ng-if="vm.votingDocument.type === 'akt'"><a href ng-click="vm.getDetails('akti', vm.votingDocument.id)">{{vm.votingDocument.name}}</a></td>
                <td ng-if="vm.votingDocument.type === 'akt'"><a href ng-click="vm.getPdf('akti', vm.votingDocument.id)" class="fa fa-file-pdf-o"></a></td>
                <td ng-if="vm.votingDocument.type === 'am'"><a href ng-click="vm.getDetails('amandmani', vm.votingDocument.id)">{{vm.votingDocument.naziv}}</a></td>
                <td ng-if="vm.votingDocument.type === 'am'"><a href ng-click="vm.getPdf('amandmani', vm.votingDocument.id)" class="fa fa-file-pdf-o"></a></td>
                <td>{{vm.votingDocument.type}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row" ng-if="vm.votingDocument !== null">
          <button type="button" class="btn btn-primary" ng-click="vm.closeVoting()">Zavrsi glasanje</button>
        </div>
        <div class="row" ng-if="vm.votingDocument !== null && !vm.userVote">
          <button type="button" class="btn btn-success" ng-click="vm.vote(vm.votingDocument, true)">Glasaj za</button>
          <button type="button" class="btn btn-danger" ng-click="vm.vote(vm.votingDocument, false)">Glasaj protiv</button>
        </div>
      </div>
    </div>
    <div class="row" ng-if="vm.votedDocuments.length > 0">
      <div class="col-sm-7 col-sm-offset-2">
        <div class="row">
          <h2>Rezultati glasanja</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Naziv</th>
                <th>&nbsp;</th>
                <th>Tip</th>
                <th>Za</th>
                <th>Protiv</th>
                <th width="15%;">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="document in vm.votedDocuments" ng-click="vm.selectAktsAmandmands(document, vm.votedDocuments)" ng-class="{selected : document.selected === true}">
                <td ng-if="document.type === 'akt'"><a href ng-click="vm.getDetails('akti', document.id)">{{document.name}}</a></td>
                <td ng-if="document.type === 'akt'"><a href ng-click="vm.getPdf('akti', document.id)" class="fa fa-file-pdf-o"></a></td>
                <td ng-if="document.type === 'am'"><a href ng-click="vm.getDetails('amandmani', document.id)">{{document.naziv}}</a></td>
                <td ng-if="document.type === 'am'"><a href ng-click="vm.getPdf('amandmani', document.id)" class="fa fa-file-pdf-o"></a></td>
                <td>{{document.type}}</td>
                <td>{{document.forVote}}</td>
                <td>{{document.against}}</td>
                <td ng-if="document.result === 'default'">
                  <button type="button" class="btn btn-success" ng-click="vm.acceptDeclineDocument(document, 'accepted')">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
                  <button type="button" class="btn btn-danger" ng-click="vm.acceptDeclineDocument(document, 'rejected')">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
                </td>
                <td ng-if="document.result == 'accepted'">prihvaćen</td>
                <td ng-if="document.result == 'rejected'">odbijen</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-info" ng-click="vm.generateNewDocuments()" ng-disabled="vm.disableGenerate()">
        Prečisti
      </button>
      </div>
    </div>
    <div class="row" ng-if="vm.generatedDocuments.length > 0">
      <div class="col-sm-7 col-sm-offset-2">
        <div class="row">
          <h2>Prečišćeni dokumenti</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Naziv</th>
                <th>&nbsp;</th>
                <th>Tip</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="document in vm.generatedDocuments">
                <td><a href ng-click="vm.getDetails('akti', document.id)">{{document.name}}</a></td>
                <td><a href ng-click="vm.getPdf('akti', document.id)" class="fa fa-file-pdf-o"></a></td>
                <td>akt</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
