<div class="panel panel-info">
  <div class="panel-heading clearfix">
    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Akti</h4>
    <div class="btn-group pull-right">
      <div class="btn btn-danger pull-right" ng-click="vm.reset()"><i class="fa fa-times"></i> Poništi pretragu</div>
      <div class="btn btn-info pull-right" ng-click="vm.search()"><i class="fa fa-search"></i> Pretraga</div>
      <a ui-sref="create-akt" class="btn btn-success" ng-show="vm.isOdbornik"> <i class="fa fa-plus"></i> Novi akt</a>
    </div>
  </div>
  <div class="panel-body">
    <form class="form-inline">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <div class="input-group">
              <input placeholder="od datuma kreiranja" type="text" class="form-control" uib-datepicker-popup="{{vm.dateFormat}}" ng-model="vm.dateFrom"
                is-open="vm.dateFromPopup.opened" datepicker-options="vm.dateOptions" ng-required="true" current-text="Danas"
                clear-text="Poništi" close-text="Zatvori" />
              <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.openDateFrom()"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <p class="input-group">
            <input placeholder="do datuma kreiranja" type="text" class="form-control" uib-datepicker-popup="{{vm.dateFormat}}" ng-model="vm.dateTo"
              is-open="vm.dateToPopup.opened" datepicker-options="vm.dateOptions" ng-required="true" current-text="Danas" clear-text="Poništi"
              close-text="Zatvori" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.openDateTo()"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </p>
        </div>
        <div class="col-sm-4">
          <input ng-model="vm.searchText" type="text" class="form-control" placeholder="Unesi sadrzaj">
        </div>
      </div>
      <div class="row " style="margin-top:5px">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="checkbox" ng-show="vm.isOdbornik">
              <label class="control-label"> <input type="checkbox" ng-model="vm.self"> Prikaži sopstvene dokumente samo</label>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </form>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Naziv akta</th>
        <th>Datum kreiranja</th>
        <th>Datum poslednje promene</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="akt in vm.akti.content">
        <td>{{$index+1}}</td>
        <td><a href ng-click="vm.getDetails(akt.id)">{{akt.name}}</a></td>
        <td>{{akt.dateCreated | date : 'dd-MM-yyyy hh:mm'}}</td>
        <td>{{akt.dateModified | date : 'dd-MM-yyyy hh:mm'}}</td>
        <td><a href ng-click="vm.getPdf(akt.id)" class="fa fa-file-pdf-o"></a></td>
        <td><a href ng-click="vm.getDetails(akt.id)" class="fa fa-file-code-o"></a></td>
        <td><a ui-sref="create-amandman({aktId: akt.id})" class="btn-sm btn-warning" ng-show="vm.isOdbornik">Predloži amandman</a></td>
        <td><a href ng-click="vm.deleteAkt(akt.id)" class="fa fa-times btn-sm btn-danger"> </a></td>
      </tr>
    </tbody>
  </table>
  <div ng-show="vm.akti" uib-pagination items-per-page="vm.pageOptions.size" total-items="vm.akti.totalElements" ng-model="vm.pageOptions.page"
    ng-change="vm.pageChanged()" next-text="Sledeća stranica" previous-text="Prošla stranica"></div>
</div>
