<div class="panel panel-info">
  <div class="panel-heading clearfix">
    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Akti</h4>
    <div class="btn-group pull-right">
      <a ui-sref="create-akt" class="btn btn-success">Novi akt</a>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Naziv akta</th>
      <th>Datum kreiranja</th>
      <th>Datum poslednje promene</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="akt in vm.akti.content">
      <td>{{$index+1}}</td>
      <td><a href ng-click="vm.getDetails(akt.id)">{{akt.name}}</a></td>
      <td>{{akt.dateCreated | date : 'dd-MM-yyyy hh:mm'}}</td>
      <td>{{akt.dateModified | date : 'dd-MM-yyyy hh:mm'}}</td>
      <td><a href ng-click="vm.getPdf(akt.id)" class="fa fa-file-pdf-o"></a></td>
      <td><a href ng-click="vm.getDetails(akt.id)" class="fa fa-html5"></a></td>
    </tr>
    </tbody>
  </table>
  <div uib-pagination items-per-page="vm.pageOptions.size" total-items="vm.akti.totalElements"
       ng-model="vm.pageOptions.page" ng-change="vm.pageChanged()" next-text="Sledeća stranica"
       previous-text="Prošla stranica"></div>
</div>
