<h2>User applications</h2>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Technology</th>
    <th>Version</th>
    <th>dsn</th>
    <th>Repository</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="application in vm.applications">
    <td><a ui-sref="application({id: application.id})">{{application.name | limitTo:15}}</a></td>
    <td>{{application.technology | limitTo:15}}</td>
    <td>{{application.version | limitTo:15}}</td>
    <td>{{application.dsn | limitTo:25}}</td>
    <td>{{application.repository | limitTo:15}}</td>
    <td>
      <div ng-click="vm.removeApp(application._id)" class="btn btn-danger"
           ng-if="vm.userId === application.registeredBy">
        <i class="fa fa-times"></i>
      </div>
    </td>
  </tr>
  </tbody>
</table>
